@import "variables";
@import "material";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  padding: 0px;
  margin: 0px;
}

body {
  background-color: $backgroud-color;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  padding: 0px 16px;
}

h2 {
  font-family: "Roboto", sans-serif;
}
