$caption-color: #2F7FD5;
$backgroud-color: #E9F3FF;
$disabled-color: #D8DEE9;
$default-color: #2F67D5;
$hover-color: #3C7CF8;
$pressed-color: #194EB6;

$checkbox-color: #ABABAC;

$border-radius: 20px;

$text-btn-hover-color: rgba(60, 24, 248, 0.10);
$text-btn-pressed-color: rgba(25, 78, 182, 0.21);


$text-field-default: #BBC5C9;
$text-field-active: $caption-color;
$text-field-filled: #505662;
$text-field-error: #DA1B1B;


