<div class="confirm-wrapper">
  <h2 mat-dialog-title>{{ caption }}</h2>
  <div mat-dialog-content>
    <form [formGroup]="client" class="form-wrapper">
      <mat-form-field appearance="outline">
        <mat-label>Имя</mat-label>
        <input matInput placeholder="Имя" formControlName="name" required />
        <mat-error *ngIf="client.get('name')?.hasError('minlength')"
          >Минимальное количество символов {{ minLength }}</mat-error
        >
        <mat-error *ngIf="client.get('name')?.hasError('required')"
          >Обязательно к заполнению</mat-error
        >
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Фамилия</mat-label>
        <input
          matInput
          placeholder="Фамилия"
          formControlName="surname"
          required
        />
        <mat-error *ngIf="client.get('surname')?.hasError('minlength')"
          >Минимальное количество символов {{ minLength }}</mat-error
        >
        <mat-error *ngIf="client.get('surname')?.hasError('required')"
          >Обязательно к заполнению</mat-error
        >
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>E-mail</mat-label>
        <input matInput placeholder="E-mail" formControlName="email" required />
        <mat-error *ngIf="client.get('email')?.hasError('email')"
          >Укажите верный email</mat-error
        >
        <mat-error *ngIf="client.get('email')?.hasError('required')"
          >Обязательно к заполнению</mat-error
        >
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Телефон</mat-label>
        <input matInput placeholder="Телефон" formControlName="phone" />
        <mat-error *ngIf="client.get('phone')?.hasError('pattern')"
          >Некорректный номер телефона</mat-error
        >
      </mat-form-field>
    </form>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="cancel()">Отменить</button>
    <button
      mat-raised-button
      (click)="ok()"
      [mat-dialog-close]="client.getRawValue()"
      cdkFocusInitial
    >
      Сохранить
    </button>
  </div>
</div>
