@import "./../../../variables.scss";

.table-wrapper {
  background-color: white;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  border-radius: 10px;
  padding: 7px;

  table {
    width: 100%;
  }
}

.mat-column-select {
  width: 30px;
}

.mat-mdc-header-cell {
  color: $default-color;
}

.name-element-hover {
  &:hover {
    color: $default-color;
    text-decoration: underline;
  }
  cursor: pointer;
}

.text-align-right {
  text-align: right;
}
